<!DOCTYPE html>
<html>
<head>
  <title>About - My Website</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>

  <h1>Welcome to the About Page</h1>
  <p>This is the about page of my website.</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>

  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
