<!DOCTYPE html>
<html>
<head>
  <title> Contacts - My Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/calender.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>
<div class="calender"> calender of all events</div>

  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
