<!DOCTYPE html>
<html>
<head>
  <title> Contacts - My Website</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>

  <h1>Welcome to the Contacts Page</h1>
  <p>This is the contact page of my website.</p>
  <p>This is where you can talk to the owner of this website.</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>

  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
