<footer class="site-footer">
  <div>
      <nav class="nav">
        <ul class="nav__wrapper">
            <li class="nav__item1"><a href="/">Home</a></li>
            <li class="nav__item1"><a href="/about">About</a></li>
            <li class="nav__item1"><a href="/service">Services</a></li>
            <li class="nav__item1"><a href="/map">Map</a></li>
            <li class="nav__item1"><a href="/contacts">Contact</a></li>
            <li class="nav__item1"><a href="/signup">Signup</a></li>
          </ul>
      </nav>
    </div>
  </div>
  <small>Made by Yu Huang</small>
</footer>