<footer class="site-footer">
  <div>
      <nav class="nav">
        <ul class="nav__wrapper">
            <li class="nav__item1"><a href="/">Home</a></li>
            <li class="nav__item1"><a href="/service">Services</a></li>
            <li class="nav__item1"><a href="/calender">Calendar</a></li>
            <li class="nav__item1"><a href="/map">Map</a></li>
            <li class="nav__item1"><a href="/profile"> My Profile</a></li>
            <li class="nav__item1"><a href="/about">About</a></li>
        </ul>
        <li class="nav__item2"><a href="/terms-and-conditions">Terms And Conditions</a></li>
        <li class="nav__item2"><a href="/privacy-policy">Privacy Policy</a></li>
      </nav>
    </div>
  </div>
  <small>Made by Yu Huang</small>
</footer>