<footer class="p-3 bg-gray text-white mb-4">
  <div class="containerFooter d-flex align-items-center justify-content-between">
    <div class="nav-div">
      <a href="/" class="nav-link px-2 text-black">Home&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/about" class="nav-link px-2 text-black">About&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/map" class="nav-link px-2 text-black">Map&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/contact" class="nav-link px-2 text-black">Contact&nbsp;</a>
    </div>
  </div>
  <small>Made by Yu Huang</small>
</footer>
