

<header class="site-header">
  <div>
      <nav class="nav">
        <ul class="nav__wrapper">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="/about">About</a></li>
            <li class="nav__item"><a href="/service">Services</a></li>
            <a class="brand"><span>C</span>onnectUS</a>
            <li class="nav__item"><a href="/map">Map</a></li>
            <li class="nav__item"><a href="/contacts">Contact</a></li>
            <li class="nav__item"><a href="/signIn">SignIn</a></li>
          </ul>
      </nav>
    </div>
  </div>
  
</header>