<header class="p-3 bg-gray text-white mb-4">
  <div class="container1 d-flex align-items-center justify-content-between">
    <div class="nav-div">
      <a href="/" class="nav-link px-2 text-black">Home&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/about" class="nav-link px-2 text-black">About&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/map" class="nav-link px-2 text-black">Map&nbsp;</a>
    </div>
    <div class="nav-div">
      <a href="/contact" class="nav-link px-2 text-black">Contact&nbsp;</a>
    </div>
    <form class="col-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>
    <div>
      <button type="button" class="btn btn-outline-light me-2">Login</button>
      <button type="button" class="btn btn-warning">Sign-up</button>
    </div>
  </div>
</header>
