<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <link rel="stylesheet" type="text/css" href="/home.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>

  <main>  
    <div class="box">Connect US</div>
    <p1>Stats</p1>
    <div class="box3">
      
     <div class="statbox1">total hours</div>
     <div class="statbox2">total members</div>
     <div class="statbox3">###</div>
      
    </div>
    <div class="container">
      <div class="box1">
        <h1>Welcome to the <%= pageTitle %> page!</h1>
        <!-- Your page content goes here -->
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>

      </div>
      <div class="box2">Leaderboard</div>
    </div>
  </main>

  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
