<!DOCTYPE html>
<html>
<head>
  <title> Contacts - My Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/profile.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>
  <main>
  <div class="banners">
      <div class="profilePic">PFP</div>
    </div>
    <div class="nameBar">
  <div class="name">name</div>
  <div class="badges">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733; Badges</div>
</div>
<div class="discription">Personal description, kjsah djsha lkdh lsakhd lksa hdlkaj hslkdhsaljk dhsakj hdaskj hdkja hkjsa hdksa hdkjsah dlkjahs dkj</div>

<p1>Stats</p1>
<div class="box3">
 <div class="statbox1">total hours</div>
 <div class="statbox2">total organization</div>
 <div class="statbox3">Current Monthly rank</div>
</div>

<div class="history">
  <div class="history_title">History</div>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
  <p>TEXT</p>
</div>

</main>
<!-- Include the footer -->
<%- include('./footer') %>
</body>
</html>



