<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>
<main>  
  <h1>WWWWWWWWWWW</h1>

</main>
  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
