<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/service.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>
<main>  
  <div class="box">Service in las Vegas</div>
  <div class="box1"></div>
<!--the service area --> 
<div class="all">
  <div class="container">
    <div class="serviceBox">
      <div class="serviceImage">Image</div>
      <div class="serviceText">
        <text>AC/CD Food Drive</text>
        <text1> This is a food drive for Asian American during Thanksgiving</text1>
        <text2> November 16, 6:00am - 3:00pm</text2> 
        <text3> Hours: 9</text3>
      </div>
    </div>
    <div class="serviceBox">
      <div class="serviceImage">Image</div>
      <div class="serviceText"></div>
    </div>
    <div class="serviceBox">
      <div class="serviceImage">Image</div>
      <div class="serviceText"></div>
    </div>
    <div class="serviceBox">
      <div class="serviceImage">Image</div>
      <div class="serviceText"></div>
    </div>
  </div>
  <div class="map">map, when click it slides to become the entire page and making the services 10%</div>
</div>

</main>
  <!-- Include the footer -->
  <%- include('./footer') %>
</body>
</html>
