<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/signIn.css">
  <link rel="stylesheet" type="text/css" href="/header_footer.css">
</head>
<body>
  <%- include('./header') %>
<h1>Welcome to the <%= pageTitle %> page!</h1>
  <main>  
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </div>
  </main>
  <%- include('./footer') %>
</body>
</html>
