<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> - ServiceUs</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
  <link rel="stylesheet" type="text/css" href="/styles/submitService.css">
  <link rel="stylesheet" type="text/css" href="/styles/header-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/common.css">
</head>
<%- include('./header') %>
<body>
  
  <div class="container">
    <form id="form" action="/submitService" method="post">
      <h1>Registration</h1>
      <div class="input-control">
        <label for="serviceName">Name of the Event</label>
        <input id="serviceName" name="serviceName" type="text">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="email">Contact email</label>
        <input id="email" name="email" type="text">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="description">Description of the Event</label>
        <input id="description" name="description" type="text">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="date">Date</label>
        <input id="date" name="date" type="date">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="time">Start Time</label>
        <input id="time" name="time" type="time">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="time2">End Time</label>
        <input id="time2" name="time2" type="time">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="hours">Total amount of hours</label>
        <input id="hours" name="hours" type="number">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="address">Address</label>
        <input id="address" name="address" type="text">
        <div class="error"></div>
      </div>
      <button id="submit" type="submit" disabled>Sign Up</button>
    </form>
  </div>
  <script type="application/javascript" src="/script/service-valid.js"></script>
</body>
<%- include('./footer') %>
</html>
