/* styles.css */


body, html {
  height: 100%;
  min-height: 100%;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

body {
  font-family: Arial, sans-serif;
  background-color: #d6cfcf;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-areas: "topbar topbar topbar"
                      "service content leaderboard"
                      "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 70px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
}

p {
  margin: 10px 0;
  padding: 0 20px;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer {
  background-color: #727272;
  color: #fff;
  padding: 10px;
  margin-top: auto; /* Push footer to the bottom */
}
