/* styles/common.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px; /* Added margin to separate users */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* styles/header-footer.css */
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* styles/control.css */
  
  form {
    display: inline;
  }
  
  select {
    padding: 5px;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    font-size: 1.5em;
  }
  