/* Base styles */
.site-header, .site-footer {
  background-color: #838383;
}

header {
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.brand {
  font-weight: bold;
  font-size: 1.7em; /* Use relative unit 'em' or 'rem' */
  letter-spacing: 0.05em;
}

span {
  font-size: 2em; /* Use relative unit 'em' or 'rem' */
  letter-spacing: 0;
  border: 1px solid green;
}

.nav {
  width: 100%;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.nav__item a {
  display: flex;
  padding: 1.5em 2em; /* Use relative unit 'em' or 'rem' */
  text-transform: uppercase;
  font-size: 100%; /* Use relative unit 'em' or 'rem' */
  transition: background-color 0.3s; 
}

.nav__item1 a {
  display: flex;
  padding: 1em 1em; /* Use relative unit 'em' or 'rem' */
  text-transform: uppercase;
  font-size: 1em; /* Use relative unit 'em' or 'rem' */
  transition: background-color 0.3s; 
}

.nav__item a:hover, .nav__item1 a:hover {
  background-color: rgb(168, 168, 168); 
}

/* Footer styles */
small {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #727272;
  color: #fff;
  padding: 1em; /* Use relative unit 'em' or 'rem' */
  margin-top: auto;
}
