




.banners {
  background-image: url("images/111111.jpg");
  height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-size: cover;
}


.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("images/pfp.jpg");
  background-position: center; /* Center the image both horizontally and vertically */
  margin-bottom: 1%;
  margin-left: 3.5%;
}


.nameBar {
  background-color: red;
  width: 100%;
  height: 50px;
  display: flex; 
  flex-direction: row; 
  align-self: start;
  
}

.name {
  width: auto;
  margin-left: 5%;
  font-size: 40px;
}

.badges {

  width: auto;
  margin-left: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.discription {
  width: auto;
  border: 2px solid blue;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

p1 {
  font-size: 60px;
}

.box3 {
  height: 30vb;
  background-color: rgb(178, 193, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.statbox1, .statbox2, .statbox3 {
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 200px;
}

.history {
  margin: 5%;
  border: 2px solid blue;
  height: auto;
}

.history_title {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}













