 .box {
    width: 100%;
    height: 90px;
    background-color: rgb(173, 206, 244);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 70px;
  }


  .all {
    display: flex;
    flex-direction: row;
  }
  

  .container {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: auto;
  }

  .serviceBox {
    width: 100%;
    height: auto;
    background-color: rgba(226, 226, 226, 0.707);
    border-bottom: 2px solid red;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .serviceImage {
    width: 30vh;
    height: 15vh;
    border-color: solid seashell;
    border-radius: 2px;
    background-color: rgba(195, 186, 194, 0.707);
    margin-left: 20px;
  }

  .serviceText{
    width: 100%;
    height: auto;
    border-color: solid seashell;
    border-radius: 2px;
    background-color: rgba(195, 186, 194, 0.707);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 150%;
    text-indent: 5px;
  }


  .map{
    width: 5%;
    height: 100%;
    background-color: rgb(67, 244, 13);
    display: flex;
    justify-content: left;
   align-items: center;
   margin-left: auto;
  right: 0;
  }

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

  .submitButton{
    width: auto;
    height: auto;
    transition: background-color 0.3s; 
    list-style: none;
  }
  
  .submitButton:hover{
    background-color: rgb(227, 11, 11); 
  }