

/* Use relative units for height and font size */
.box {
  width: 100%;
  height: 15vh; /* Use relative unit 'vh' */
  background-color: rgb(173, 206, 244);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 5.46875vh; /* Use relative unit 'vh' */
}

/* Use relative units for width and height */
.all {
  display: flex;
  flex-direction: row;
}

/* Use relative units for background color and width */
.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  
}

/* Use relative units for height, background color, and border */
.serviceBox {
  width: 100%;
  height: auto;
  background-color: rgba(226, 226, 226, 0.707);
  border-bottom: 0.125rem solid red; /* Use relative unit 'rem' */
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 1.25rem; /* Use relative unit 'rem' */
  padding-bottom: 1.25rem; /* Use relative unit 'rem' */
}

/* Use relative units for width, height, border, and margin */
.serviceImage {
  width: 20vh; /* Use relative unit 'vh' */
  height: 10vh; /* Use relative unit 'vh' */
  border: 0.125rem solid seashell; /* Use relative unit 'rem' */
  border-radius: 2px;
  background-color: rgba(195, 186, 194, 0.707);
  margin-left: 1.25rem; /* Use relative unit 'rem' */
}

/* Use relative units for width, height, border, and margin */
.serviceText {
  width: 100%;
  height: auto;
  border: 0.125rem solid seashell; /* Use relative unit 'rem' */
  border-radius: 2px;
  background-color: rgba(195, 186, 194, 0.707);
  margin-left: 1.25rem; /* Use relative unit 'rem' */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 150%;
  text-indent: 0.3125rem; /* Use relative unit 'rem' */
}

/* Use relative units for width, height, background color, and margin */
.map {
  width: 5%; /* Use relative unit 'vw' */
  height: auto;
  background-color: rgb(67, 244, 13);
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: auto;
  right: 0;
  
}



 #confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1000;
  }

  #confirmation-dialog p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #confirm-button, #cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }

  /* Overlay background */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

